.header
  = render partial: "items/header"
.container
  = render "mypage_side"
  
  .container__right
    .container__right__user
      = image_tag("/assets/icon/member_photo_noimage_thumb.png", size: '70x70', alt:'mypage-icon', class: 'container__right__user--icon')
      %h3.container__right__user--name #{current_user.nickname}
      .mypage-number
        .evaluation
          評価 &nbsp;
          %span.evaluation__number 0&nbsp;&nbsp;
        .exihibition
          出品数
          %span.exihibition__number &nbsp;0
    .container-tab-notofication-todo
      %ul.container-tabs
        %li.container-tabs__item.active
          %h3 お知らせ
        %li.container-tabs__item
          %h3 やることリスト
      %ul.container-body
        %li.container-body__item.show
          %p ≪キャンペーン対象のあなたへ≫ 最大1000円分のポイントGETのチャンス！さっそく出品してみよう♪
        %li.container-body__item
          %p ご登録のメールアドレスに認証メールを送りました。メールに記載のURLをクリックして、メールアドレスを認証してください。
    .dealing-container
      %h2 購入した商品
      %ul.container-dealing-tabs
        %li.container-dealing-tabs__item.active2
          %h3 取引中
        %li.container-dealing-tabs__item
          %h3 過去の取引
      %ul.dealing-body
        %li.dealing-body__item.show2
          %p 取引中の商品がありません
        %li.dealing-body__item
          %p 過去に取引した商品がありません




= render "items/btmDl"

= render partial: "items/footer"
= render partial: "items/exhibitionBtn"