= render "header"

.sell-new
  .sell-new__wrapper
    .sell-new__wrapper__form
      = form_for @item do |f|
        %ul
        - @item.errors.full_messages.each do |message|
          %li= message
        .sell-new__wrapper__form__field.append__category
          = f.label :"カテゴリー" 
          %span.sell-new__wrapper__form__field__attention 必須
          %br/
          =f.collection_select :category_id, @item.category.root.siblings, :id, :name, class:"serect_field"
          #children_wrapper 
            =f.collection_select :category_id, @item.category.parent.siblings, :id, :name, class:"serect_field"
          #grandchildren_wrapper
            =f.collection_select :category_id, @item.category.siblings, :id, :name, class:"serect_field"
          
        .sell-new__wrapper__form__field
          = f.label :"ブランド" 
          %span.sell-new__wrapper__form__field__attention-black [任意]
          %br/
          = f.text_field :brand, placeholder: '例）シャネル'
        %br/
        .sell-new__wrapper__form__field
          = f.label :"商品名" 
          %span.sell-new__wrapper__form__field__attention 必須
          %br/
          = f.text_field :name, placeholder: '40文字以内'
        %br/
        .sell-new__wrapper__form__field
          = f.label :"商品説明"
          %span.sell-new__wrapper__form__field__attention 必須
          %br/
          = f.text_field :item_explanation, placeholder: '1000文字以内'
        %br/
        .sell-new__wrapper__form__field
          = f.label :"発送元地域"
          %span.sell-new__wrapper__form__field__attention 必須
          %br/
          = f.collection_select :shippingarea_id, Shippingarea.all, :id, :name
        %br/
        .sell-new__wrapper__form__field
          = f.label :"商品状態"
          %span.sell-new__wrapper__form__field__attention 必須
          %br/
          = f.collection_select :itemcondition_id, Itemcondition.all, :id, :name
        %br/
        .sell-new__wrapper__form__field
          =f.label :"配送料の負担"
          %span.sell-new__wrapper__form__field__attention 必須
          %br/
          = f.collection_select :shippingcost_id, Shippingcost.all, :id, :name
        %br/
        .sell-new__wrapper__form__field
          = f.label :"発送までの日数"
          %span.sell-new__wrapper__form__field__attention 必須
          %br/
          = f.collection_select :shippingday_id, Shippingday.all, :id, :name
        %br/
        .sell-new__wrapper__form__field
          = f.label :"配送方法" 
          %span.sell-new__wrapper__form__field__attention 必須
          %br/
          = f.collection_select :shippingmethod_id, Shippingmethod.all, :id, :name
        %br/
        .sell-new__wrapper__form__field
          = f.label :"価格"
          %span.sell-new__wrapper__form__field__attention 必須
          %br/
          = f.number_field :price
        %br/
        .sell-new__wrapper__form__img
          = f.label :"商品の画像"
          %span.sell-new__wrapper__form__img__attention 必須
        #image-box
          #previews
            - if @item.persisted?
              - @item.item_imgs.each_with_index do |image, i|
                = image_tag image.image.url, data: { index: i }, width: "100", height: '100'
          = f.fields_for :item_imgs do |image|
            .js-file_group{"data-index" => "#{image.index}"}
              = image.file_field :image, class: 'js-file'
              %br/
              %span.js-remove 添付した画像を削除
            - if @item.persisted?
              = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
          - if @item.persisted?
            .js-file_group{"data-index" => "#{@item.item_imgs.count}"}
              = file_field_tag :image, name: "item[item_imgs_attributes][#{@item.item_imgs.count}][image]", class: 'js-file'
              .js-remove 添付した画像を削除
        .sell-new__wrapper__form__button
          = f.submit

= render 'items/btmDl'
= render partial: 'items/footer'