%body
  = render "header"

  .category
    %ul.category__list
      - breadcrumb :category_index
      - if @category.root?
        - breadcrumb :parent_category
      - elsif @category.has_children?
        - breadcrumb :child_category
      - else
        - breadcrumb :grandchild_category
      = render "layouts/breadcrumbs"

  .itemInfo
    .itemInfo__box
      .itemInfo__box__name
        = @item.name
      .itemInfo__box__firstImage
        = image_tag(@item.item_imgs.first.image.url)
        - if @item.buyer_id.present?
          .itemInfo__box__firstImage__sold
            SoldOut
      %li.itemInfo__box__imageList
        - @item.item_imgs.each do |img|
          %ul.itemInfo__box__imageList__images
            = image_tag(img.image.url)
      .itemInfo__box__price
        ¥
        = @item.price
      .itemInfo__box__otherFee
        (税込)送料込み
          
      .itemInfo__box__explaination
        = @item.item_explanation
      %table.itemInfo__box__table
        %tr
          %th
            出品者
          %td.itemInfo__box__table__data.itemInfo__box__table__data--seller
            = @item.seller.nickname
            - if user_signed_in? && current_user.id == @item.seller_id
              .itemInfo__box__table__data__btn
                = link_to edit_item_path(@item.id), class:"itemInfo__box__table__data__btn__edit" do
                  = icon('fa','edit') 
                  %span 記載内容を編集する
                = link_to item_path(@item.id), method: "delete", class:"itemInfo__box__table__data__btn__delete" do
                  = icon('far','minus-square')
                  %span 商品を削除する
        %tr
          %th
            カテゴリー
          %td.itemInfo__box__table__data
            %ul
              = link_to "#" do
                = @item.category.name             
            %ul
              = link_to "#" do
                = @item.category.name 
            %ul
              = link_to "#" do
                = @item.category.name
        %tr
          %th
            ブランド
          %td.itemInfo__box__table__data
            = @item.brand
        %tr
          %th
            商品の状態
          %td.itemInfo__box__table__data
            = @item.itemcondition.name
        %tr
          %th
            送料の負担
          %td.itemInfo__box__table__data
            = @item.shippingcost.name
        %tr
          %th
            発送元の地域
          %td.itemInfo__box__table__data
            = @item.shippingarea.name
        %tr
          %th
            発送日の目安
          %td.itemInfo__box__table__data
            = @item.shippingday.name
      .itemInfo__box__lower
        .itemInfo__box__lower__favo
          = icon('fa','star') 
          %span お気に入り
        .itemInfo__box__lower__report
          = icon('fa','flag') 
          %span 不適切な商品の通報

  .comment
    .comment__box
      =form_for "#" ,class:'comment__box__form' do |form|
        =form.text_area :content, class:'comment__box__form__textArea'
        %p.comment__box__form__notice
          相手のことを考え丁寧なコメントを心がけましょう。
          %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .comment__box__form__lower
          =form.button '#', class:"comment__box__form__lower__btn" do
            コメントする
  
  .otherItems
    .otherItems__side
      .otherItems__side__prev
        =link_to "#" do
          < 前の商品
      .otherItems__side__next
        =link_to "#" do
          後ろの商品 >
    .otherItems__category
      =link_to "#" do
        = @item.category.name
        をもっと見る。
    %ul.otherItems__itemLists
      - @items.each do |item|
        = render "itemList", {item: item}
       
  = render "btmDl"

  
  = render "footer"

  .fixedBtn
    - if user_signed_in? && current_user.id != @item.seller_id && @item.buyer_id == nil
      =link_to creditcard_path do
        =image_tag("icon/purch.png", alt:'purch-icon', class: 'fixedBtn__purch')
    %end
    - unless user_signed_in?
      =link_to new_user_session_path do
        =image_tag("icon/login.png", alt:'login-icon', class: 'fixedBtn__login')
    %end
    = render "exhibitionBtn"