.container
  .upSide
  .downSide
    .category
      .parentIndex
        - @parents.each do |parent|
          = link_to parent.name

    .categoryTitle
      .categoryTitle__parents
        - @parents.each do |parent|
          .categoryTitle__parent
            = link_to parent.name, class: "parentLink"
          
          .categoryContents
            - parent.children.each do |child|
              .categoryContent
                = link_to child.name, class: "childLink"  
                
                  .category--title__childs__child__glandchilds
                    - child.children.each do |grandchild|
                      .category--title__childs__child__glandchilds__glandchild
                        = link_to grandchild.name, category_path(grandchild), class: "grandchildreLink"
            
              .upBottom
                = link_to categories_path, class: "up_btn" do
                  %i.fa.fa-arrow-up 
                  ページトップへ

