.container
  .containerBox
    .upSide
    .downSide
      .category
        .parentIndex
          - @parents.each do |parent|
            = link_to "#{parent.name}"

      .categoryTitle
        .categoryTitle__parents
          - @parents.each do |parent|
            .categoryTitle__parent
              = link_to parent.name, category_path(parent), class: "parentLink"
          
            .categoryContents
              - parent.children.each do |child|
                .categoryContent
                  = link_to child.name, category_path(child), class: "childLink"
                
                  .categoryItems
                    - child.children.each do |grandchild|
                      .categoryItem
                        = link_to grandchild.name, category_path(grandchild), class: "grandchildreLink"
            
            .upBottom トップページへ
              = link_to "トップページへ", 
            .marginSpace

          
          
      
                  
                    
