.header
  = render partial: "items/header"
.goodsContainer
  .goodsContainer__box
    .goodsContainer__box__up--contents
      = link_to image_tag("mako_image.png", width: "100%", height: "100%" )
    .goodsContainer__box__down--contents
      .goodsCategory
        .goodsCategory__parent
          - @parents.each do |parent|
            = link_to parent.name, { anchor: parent.id }

      .goodsCategory--title
        .goodsCategory-title__parents
          - @parents.each do |parent|
            .goodsCategory--title__parents__parent{ id: parent.id } 
              = link_to parent.name, category_path(parent), class: "parentLink"

            .goodsCategory--title__childs
              - parent.children.each do |child|
                .goodsCategory--title__childs__child
                  = link_to child.name, category_path(child), class: "childLink"
                
                  .goodsCategory--title__childs__child__glandchilds
                    - child.children.each do |grandchild|
                      .goodsCategory--title__childs__child__glandchilds__glandchild
                        = link_to grandchild.name, category_path(grandchild), class: "grandchildreLink"
            
              .upBottom
                = link_to categories_path, class: "up_btn" do
                  %i.fa.fa-arrow-up 
                  ページトップへ
%section.main__btmDl
  = render "items/btmDl"

= render partial: "items/footer"
= render partial: "items/exhibitionBtn"