.main
  = render partial: "items/header"
  .main__box
    .main__box__down--contents
      .categories--title
        %h1  
          = "#{@category.name}の商品一覧"

      %ul.list--box
        - @category_display.each do |category|
          %li
            = link_to category.name, category_path(category)

      .products
        - @items.each do |item|
          .product
            = link_to do
              %figure.product--image
                = image_tag (item.item_imgs.first.image.url)
                - if item.buyer_id.present?
                  .item__sold
                    .item__sold__inner
                      SoldOut
              .product--body
                %h2.name 
                  = item.name  
                .details
                  %ul
                    %li
                      = item.price
                    %li.fa.fa-star
                      1
                  %p <税込>
                  -#時間があればページネイションを作る、今のところ表示できるのは3つまで
%section.main__btmDl
  = render "items/btmDl"
.footer
  = render partial: "items/footer"
